<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Rohit
                <span class="text-primary">Jain</span>
            </h1>
            <div class="subheading mb-5">
                310 Elan Village Ln, Unit 317 · San Jose, CA 95134 · (669) 262-8260 ·
                <a href="mailto:rohitjainlnct@gmail.com">ROHITJAINLNCT@GMAIL.COM</a>
            </div>
            <p class="lead mb-2">Experienced Javascript/UI developer with a demonstrated history of working in the information technology and services industry.</p>
            <p class="lead mb-2">
                Skilled in <span class="font-weight-bold">Angular11/ReactJS/BackboneJS/MarionetteJS, Java,J2EE and Application Programming Interfaces.</span><br/>
            </p>
            <p class="lead mb-5">
                Software Engineering professional with a Bachelor of Engineering (B.E.) focused in Information Technology from LNCT Indore, India. 
            </p>
            <div class="social-icons">
                <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/connectwithrohit/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" target="_blank" href="https://github.com/jrohit"><i class="fab fa-github"></i></a>
                <a class="social-icon" target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" target="_blank" href="#"><i class="far fa-file-pdf"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>