<hr class="m-0" />
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Computer Programmer</h3>
                <div class="subheading mb-3">Zensar Technologies Inc., San Jose, USA</div>
                <p>Javscript developer with experience in building applications in latest frameworks like <b>Angular11, ReactJS, BackboneJS, MarionetteJS...</b></p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2016 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior Software Engineer</h3>
                <div class="subheading mb-3">Zensar Technologies Ltd., Pune Area, India</div>
                <p>Full stack Developer with exposure to development and maintenance of scalable UI applications and modules in Javascript frameworks like 
                    <b>Backbone/Marionette JS</b></p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Feb 2015 - Dec 2016</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior Software Engineer</h3>
                <div class="subheading mb-3">Mastek Ltd., Pune Area, India</div>
                <p>Single handedly <b>Designed & Developed UI</b> & delivered web portal authorized for UK Govt. Officials. </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 2014 - December 2014</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior Software Engineer</h3>
                <div class="subheading mb-3">Infobeans Systems Pvt. Ltd., Indore Area, India</div>
                <p>Heavy focus on full stack Engineering with modules on both front and back end processes.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2012 - June 2014</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior Web Developer</h3>
                <div class="subheading mb-3">Infobeans Systems Pvt. Ltd., Indore Area, India</div>
                <p>Focus on learning of Software Engineering and Devliery process.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">June 2010 - June 2012</span></div>
        </div>
    </div>
</section>